/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-family: Raleway, sans-serif;
  font-size: 36px;
}

body {
  background-color: #F7F7F7;
}

.main_container {
  margin: 0 auto;
  max-width: 1626px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

/*Header*/
.header_container {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  margin-bottom: 10px;
  position: relative;
}
.header_container .hamburger {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -195px;
}
.header_container .hamburger_btn {
  width: 11px;
  height: 11px;
  position: absolute;
  right: -190px;
}

header .logo {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: #08A6E4;
  margin-left: 136px;
}

.navi {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  display: block;
  margin-right: 136px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.navi a {
  color: #a5a5a5;
  padding: 27px;
}
.navi ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

header .navi a:hover {
  color: #000;
  border-bottom: 4px solid #08A6E4;
}

@media (max-width: 792px) {
  header .navi {
    top: -200px;
  }
  header .navi #hamburger:checked header .navi {
    top: 200px;
  }
  header .navi li {
    padding: 10px 0;
  }

  .header_container .hamburger {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
  }
}
.header_container .hamburger_btn {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 100px;
}

/* End of HEADER section*/
/*Start of OPEN section*/
.open .text {
  padding-top: 130px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.open img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-self: flex-end;
  background-color: white;
}

.open h1 {
  font-family: Raleway, sans-serif;
  font-size: 49px;
}

.open p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 38px;
}

.open button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #08A6E4;
  padding: 22px 157px;
  border: 0;
  border-radius: 34px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}

/*End of section "Open"*/
/*Start of STATISTICS section*/
.statistics {
  width: 1626px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.statistics h3 {
  margin: 100px;
}

.stats_section {
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}

.stats_section:nth-of-type(1) > .icon {
  background-color: #fb3b64;
}

.stats_section:nth-of-type(2) > .icon {
  background-color: #08A6E4;
}

.stats_section:nth-of-type(3) > .icon {
  background-color: #55DFB4;
}

.stats_section:nth-of-type(1) > .icon img {
  position: absolute;
  left: 32px;
  top: 5px;
}

.stats_section:nth-of-type(2) > .icon img {
  position: absolute;
  left: 20px;
  top: 15px;
}

.stats_section:nth-of-type(3) > .icon img {
  position: absolute;
  left: 30px;
  top: 5px;
}

.statistics h5 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;
  margin: 20px;
}

.statistics h6 {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  color: #a5a5a5;
  text-align: center;
  line-height: 23px;
}

.stats_menu {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 792px) {
  .statistics h3 {
    width: 303px;
    height: 112px;
    text-align: center;
  }

  .stats_menu {
    flex-direction: column;
    align-items: center;
  }
}
/*End of STATISTICS section*/
/*Start of BENEFITS section*/
.benefits_container {
  max-width: 1124px;
  margin: 105px 121px;
  background-color: #F7F7F7;
}

.benefits_container > div {
  height: 370px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

p {
  font-family: "Open Sans", sans-serif;
}

.first .div_text {
  width: 415px;
  height: 186px;
  margin: 91px auto;
}
.first .div_text h3,
.first .div_text p {
  margin-bottom: 50px;
}
.first .div_text::after {
  content: "";
  height: 4px;
  width: 330px;
  background-color: #fb3b64;
  position: absolute;
  z-index: 6;
}

.first img {
  width: 386px;
  margin: 113px 100px 38px 0;
  position: relative;
  z-index: 1;
}

.div_picture1::before {
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 30px;
  background-color: #fb3b64;
  position: absolute;
  transform: translate(215px, 75px) rotate(45deg);
}

.second .div_text {
  width: 415px;
  height: 222px;
  margin: 25px auto;
}
.second .div_text h3,
.second .div_text p {
  margin-bottom: 50px;
}
.second .div_text::after {
  content: "";
  height: 4px;
  width: 330px;
  background-color: #08A6E4;
  position: absolute;
  z-index: 6;
}

.second img {
  width: 400px;
  margin: 50px 50px;
  position: relative;
  z-index: 1;
}

.div_picture2::before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #08A6E4;
  position: absolute;
  transform: translate(57px, 25px);
}

.benefits_container .third {
  justify-content: space-between;
  background-color: #F7F7F7;
}
.benefits_container .third .div_text {
  max-width: 530px;
  height: 370px;
  padding: 70px;
  background-color: #fff;
}
.benefits_container .third .div_text::after {
  content: "";
  height: 4px;
  width: 330px;
  background-color: #55DFB4;
  position: absolute;
  z-index: 6;
}

.third img {
  max-width: 416px;
  height: 219px;
  position: relative;
  margin-top: 90px;
  margin-right: 100px;
  z-index: 3;
}

.div_picture3 {
  width: 416px;
  background-color: #55DFB4;
  margin-left: 60px;
}

@media (max-width: 792px) {
  .benefits_container {
    width: 314px;
    height: 1295px;
    margin: 42px 0;
  }
  .benefits_container .div_text {
    width: 100%;
    height: 166px;
    margin: 0;
    padding: 0 21px 30px 21px !important;
  }
  .benefits_container .div_text::after {
    display: none;
  }
  .benefits_container .div_text h3 {
    font-size: 30px;
    padding-top: 26px;
    margin-bottom: 20px;
  }
  .benefits_container .div_text p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .first {
    flex-direction: column-reverse;
  }

  .second,
.third {
    flex-direction: column;
  }

  .first,
.second,
.third {
    width: 315px;
    margin: 0 auto;
  }
  .first img,
.second img,
.third img {
    width: 192px;
    margin: 45px 40px 0 65px;
  }
  .first .div_picture1::before,
.second .div_picture1::before,
.third .div_picture1::before {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    position: absolute;
    transform: translate(160px, 10px) rotate(45deg);
  }
  .first .div_picture2::before,
.second .div_picture2::before,
.third .div_picture2::before {
    width: 150px;
    height: 150px;
    position: absolute;
    transform: translate(63px, 5px);
  }
  .first .div_picture3,
.second .div_picture3,
.third .div_picture3 {
    width: 100%;
    margin: 0 0 36px 0;
  }
}
.last {
  width: 100%;
  height: 1395px;
  background-color: #fff;
  padding-top: 130px;
}

.pricing {
  width: 1266px;
  height: 616px;
  margin-left: auto;
  margin-right: auto;
}

.pricing h3 {
  text-align: center;
  margin-bottom: 70px;
}

.pricelist {
  height: 405px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricelist h4 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.pricelist h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 46px;
}

.pricelist1,
.pricelist2,
.pricelist3 {
  width: 372px;
  height: 461px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  line-height: 40px;
  position: relative;
  transition: all 0.5s;
}

.pricelist button {
  width: 150px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border-radius: 25px;
  border: 0;
  position: relative;
  bottom: -15px;
}

.pricelist span {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.pricelist li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
}

.pricelist1 li:nth-of-type(1)::before,
.pricelist1 li:nth-of-type(2)::before,
.pricelist1 li:nth-of-type(3)::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  color: #55DFB4;
  width: 5px;
  height: 5px;
  position: relative;
  left: -10px;
}

.pricelist1 li:nth-of-type(4)::before,
.pricelist1 li:nth-of-type(5)::before {
  content: "\f410";
  font-family: "Font Awesome 5 Free";
  color: #fb3b64;
  width: 5px;
  height: 5px;
  position: relative;
  left: -10px;
}

.pricelist2 li:nth-of-type(1)::before,
.pricelist2 li:nth-of-type(2)::before,
.pricelist2 li:nth-of-type(3)::before,
.pricelist2 li:nth-of-type(4)::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  color: #55DFB4;
  width: 5px;
  height: 5px;
  position: relative;
  left: -10px;
}

.pricelist2 li:nth-of-type(5)::before {
  content: "\f410";
  font-family: "Font Awesome 5 Free";
  color: #fb3b64;
  width: 5px;
  height: 5px;
  position: relative;
  left: -10px;
}

.pricelist3 li:nth-of-type(1)::before,
.pricelist3 li:nth-of-type(2)::before,
.pricelist3 li:nth-of-type(3)::before,
.pricelist3 li:nth-of-type(4)::before,
.pricelist3 li:nth-of-type(5)::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  color: #55DFB4;
  width: 5px;
  height: 5px;
  position: relative;
  left: -10px;
}

.pricelist1 {
  border: 1px solid #fb3b64;
}
.pricelist1 button {
  background-color: #fb3b64;
}
.pricelist1 h5 {
  color: #fb3b64;
}
.pricelist1 span {
  color: #fff;
}

.pricelist2 {
  border: 1px solid #08A6E4;
}

.blue_btn {
  background-color: #08A6E4;
}

.pricelist2 h5 {
  color: #08A6E4;
}

.pricelist3 {
  border: 1px solid #55DFB4;
}

.pricelist3 button {
  background-color: #55DFB4;
}

.pricelist3 h5 {
  color: #55DFB4;
}

.pricelist1:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 2px 2px 20px -10px #fb3b64;
}

.pricelist2:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 2px 2px 20px -10px #08A6E4;
}

.pricelist3:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 2px 2px 20px -10px #55DFB4;
}

@media (max-width: 792px) {
  .last {
    width: 374px;
    padding: 0;
  }
  .last .pricing {
    width: 339px;
    height: 967px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last .pricing .pricelist {
    height: 967px;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .last .pricing h3 {
    margin-bottom: 5px;
  }
  .last .pricing .pricelist1,
.last .pricing .pricelist2,
.last .pricing .pricelist3 {
    width: 293px;
    height: 251px;
  }
  .last .pricing .pricelist_inside {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
  }
  .last .pricing .priceheader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact_container {
  width: 896px;
  height: 376px;
  display: flex;
  margin: 197px auto;
}

.info,
.form {
  width: 50%;
}

.info h2 {
  font-family: Raleway, sans-serif;
  font-size: 49px;
  margin-bottom: 22px;
}
.info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 42px;
}
.info a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #a5a5a5;
  margin-right: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form .name,
.form .email {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #08A6E4;
  margin: 0 0 30px 0;
}
.form #email,
.form #name {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #a5a5a5;
  border-left: 0;
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */
